@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@theme{
    --font-inter: "Inter", sans-serif;
    --font-space: "Space Grotesk", sans-serif;
    --font-roboto: "Roboto Mono", monospace;
    --color-dark: #0E0E0E;
    --color-light: #fafafa;
    --color-primary: #111827;
    --color-accent: #9039FF;
}
.glass-effect{
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}